* {
    margin: 0;
    padding: 0;
   
}
body {
    background-color: #fefae0;
    text-align: center;
    padding: 30px;

}
.container {

    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1.0);
    font-size: 8vmin;
    color: #283618;
    background-color: #606c38;
}

.box:hover {
    background-color: aliceblue;
    transition: background-color 0.9s ease, border-color 0.6s ease;

}

#reset-button , #new-btn{
    padding: 1rem;
    color: #283618;
    font-size: 3vmin;
    border: 2px solid #606c38;
    border-radius: 1rem;

}

#reset-button:hover ,#new-btn:hover  {
    background-color: #606c38;
    color: aliceblue;

}
.msg-container{
 height: 100vmin;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 4rem;
}
#msg{
    color: #283618;
    font-size: 8vmin;
}
.hide{
    display: none;
}